<distributionManagement>  
 <!-- Publish the versioned releases here -->  
 <repository>  
  <id>snapshots</id>  
  <name>nexus123</name>  
  <url>http://65.0.94.83:8081/repository/nexus123/</url>  
 </repository>  
  
 <!-- Publish the versioned releases here -->  
 <snapshotRepository>  
  <id>snapshot</id>  
  <name>nexus123</name>  
  <url>http://65.0.94.83:8081/repository/nexus123/</url>  
 </snapshotRepository>  
</distributionManagement>  
  
<!-- download artifacts from this repo -->  
<repositories>  
 <repository>  
  <id>snapshot</id>  
  <name>nexus123</name>  
  <url>http://65.0.94.83:8081/repository/nexus123/</url>  
  <releases>  
   <enabled>true</enabled>  
  </releases>  
  
  <snapshots>  
   <enabled>true</enabled>  
  </snapshots>  
 </repository>  
</repositories>  
  
<!-- download plugins from this repo -->  
<pluginRepositories>  
 <pluginRepository>  
  <id>snapshot</id>  
  <name>nexus123</name>  
  <url>http://65.0.94.83:8081/repository/nexus123/</url>  
  <releases>  
   <enabled>true</enabled>  
  </releases>  
  <snapshots>  
   <enabled>true</enabled>  
  </snapshots>  
 </pluginRepository>  
</pluginRepositories>  




